.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    flex-direction: column;
    overflow-y: auto;
}

.container-with-padding {
    padding: 40px;
    background-color: #2b2e38;
    border-radius: 6px;
    max-width: 100%;
    width: 600px;
    margin: 20px;
}

.comments-container {
    max-height: 60vh;
    overflow-y: auto;
}

.btn {
    padding: 0 10px 0 10px;
}