<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/main_style.css">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
<main>
    <div id="stars-container">
        <script src="/static/javascript/stars.js"></script>
    </div>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
