<html>
{% extends "polls/base.html" %}
{% block title %}New Comment{% endblock %}
{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href={% static 'css/comment.css' %}>
    </head>
    <body>
    <div class="center-container">
        <div class="container-with-padding ">
            <div class="text-center">
                <h4 class="mt-4 mb-2 pb-3">Create a Comment</h4>
                <form method="post" action="create_comment">
                    {% csrf_token %}
                    <h6 class="mb-1 pb-2"> {{ user | safe }}</h6>
                    <div class="form-group">
                    <textarea type="text" class="form-style" id="title" name="Comment" required maxlength="100"
                              placeholder="Comment" rows="4"></textarea>
                    </div>
                    <div>
                        <a href="/task/{{ task.Task_ID | safe }}" class="btn mt-4">Cancel</a>
                        <button class="btn mt-4" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>