<!DOCTYPE html>
{% extends "polls/base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
    {% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="stylesheet" type="text/css" href={% static 'css/main_style.css' %}>
        <link rel="stylesheet" type="text/css" href={% static 'css/display.css' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Management</title>

    </head>
    <body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="center-container">
        <div class="container-with-padding">
            <div class="container">
                <a href="logout" class="btn inline-items">
                    <i class="uil uil-signout" style="font-size: 16px;"></i>
                    Logout
                </a>
                <h4 class="mb-4 pb-3 text-center inline-items">Task Management</h4>
            </div>
            <div class="table-contents">
                <table id="taskTable">
                    <thead>
                    <tr>
                        <div class="p-2">
                            <th class="p-2">Title</th>
                            <th class="p-2">Summary</th>
                            <th class="p-2">Assignee</th>
                            <th class="p-2">Status</th>
                            <th>
                                <a class="table-button" href="{% url 'polls:new_task_form' %}">
                                    <i class="uil-plus"></i>
                                </a>
                                <button class="table-button" onclick="toggleOrder()">
                                    <i class="uil-sort"></i>
                                </button>
                            </th>
                        </div>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in Tasks %}
                        <div class="form-group">
                            <tr class="form-style small-bottom-margin" data-progress="{{ task.Progress }}"
                                data-task-id="{{ task.Task_ID | safe }}">
                                <td class="p-2">{{ task.Title | escape }}</td>
                                <td class="p-2">{{ task.Desc | escape }}</td>
                                <td class="p-2">{{ task.Alias_Assigned | safe }}</td>
                                <td class="p-2">
                                    {% csrf_token %}
                                    <select class="progress-dropdown"
                                            onchange="updateProgress(this, '{{ task.Task_ID | safe }}')">
                                        <option value="TODO" {% if task.Progress == 'TODO' %} selected {% endif %}>TODO
                                        </option>
                                        <option value="INPROGRESS" {% if task.Progress == 'INPROGRESS' %}
                                                selected {% endif %}>
                                            INPROGRESS
                                        </option>
                                        <option value="REVIEW" {% if task.Progress == 'REVIEW' %} selected {% endif %}>
                                            REVIEW
                                        </option>
                                        <option value="DONE" {% if task.Progress == 'DONE' %} selected {% endif %}>DONE
                                        </option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <form method="post" action="delete-task">
                                        {% csrf_token %}
                                        <input type="hidden" name="taskID" value='{{ task.Task_ID }}'>
                                        <button class="delete-button" type="submit">
                                            <i class="uil-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/display.js' %}"></script>
    </body>
    </html>
{% endblock %}
