<!DOCTYPE html>
<html lang="en">
{% extends "polls/base.html" %}
{% block title %}New Task{% endblock %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href={% static 'css/new_task.css' %}
    </head>
    <body>

    <div class="center-container">
        <div class="container-with-padding ">
            <div class="section text-center">
                <h4 class="mt-4 mb-4 pb-3">Create a Task</h4>
                <form method="post" action="task_create">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-style" id="title" name="Title" required maxlength="30"
                               placeholder="Title">
                        <i class="input-icon uil uil-book-open"></i>
                    </div>
                    <div class="form-group mt-2">
                        <input type="text" class="form-style" id="desc" name="Desc" required maxlength="100"
                               placeholder="Description"></input>
                        <i class="input-icon uil uil-pen"></i>
                    </div>
                    <div class="form-group mt-2">
                        <select id="assigned" name="Alias_Assigned" class="form-style" required>
                            <option value="" disabled selected>Alias Assigned</option>
                            {% for user in users %}
                                <option value="{{ user.Employee_Number | safe }}">{{ user.username | escape }}</option>
                            {% endfor %}
                        </select>
                        <i class="input-icon uil uil-user"></i>
                    </div>
                    <div class="form-group mt-2">
                        <select id="progress" name="Progress" class="form-style" required>
                            <option value="" disabled selected>Progress</option>
                            <option value="TODO">TODO</option>
                            <option value="INPROGRESS">INPROGRESS</option>
                            <option value="REVIEW">REVIEW</option>
                            <option value="DONE">DONE</option>
                        </select>
                        <i class="input-icon uil uil-clock"></i>
                    </div>
                    <div>
                        <a href="/display" class="btn mt-4">Cancel</a>
                        <button class="btn mt-4" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>
