<!DOCTYPE html>
<html>
{% extends "polls/base.html" %}
{% block title %} {{ task.Task_ID }} {% endblock %}
{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href={% static 'css/main_style.css' %}>
        <link rel="stylesheet" type="text/css" href={% static 'css/task.css' %}>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    </head>
    <body>
    <div class="center-container">
        <div class="container-with-padding">
            <a href="/logout" class="btn inline-items">
                <i class="uil uil-signout" style="font-size: 16px;"></i>
                Logout
            </a>
            <a href="/display" class="btn inline-items">
                <i class="uil uil-home" style="font-size: 16px;"></i>
                Home
            </a>
            <h5 class="float-right inline-items pt-2">{{ task.Alias_Assigned | safe }} - {{ task.Progress | safe }}</h5>
            <h4 class="mt-3">{{ task.Task_ID | safe }} - {{ task.Title | escape }}</h4>
            <h5>{{ task.Desc }}</h5>
            <a href="create_comment" class="btn float-right" style="padding: 0 5px 0 5px;">
                <i class="uil uil-comment-add" style="font-size: 25px;"></i>
            </a>
        </div>
        <div class="comments-container">
            {% if comments %}
                {% for comment in comments %}
                    <div class="container-with-padding">
                        <h4>{{ comment.Alias_Written | safe}}</h4>
                        <p>{{ comment.Comment | escape }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments.</p>
            {% endif %}
        </div>
    </div>
    </body>
{% endblock %}
</html>
